- name: Infrastructure vm_creation
  block:

    - name: Create Resource Group
      azure.azcollection.azure_rm_resourcegroup:
        name: "{{ item.Resource_group_name }}"
        location: "{{ item.Location }}"
      loop: "{{ environments }}"

    - name: Create virtual network
      azure.azcollection.azure_rm_virtualnetwork:
        resource_group: "{{ item.Resource_group_name }}"
        name: "{{ item.vnet_name }}"
        address_prefixes: "{{ item.address_prefixes_vnet }}"
      loop: "{{ environments }}"

    - name: Add subnet
      azure.azcollection.azure_rm_subnet:
        resource_group: "{{ item.Resource_group_name }}"
        virtual_network: "{{ item.vnet_name }}"
        name: "{{ item.subnet }}"
        address_prefixes: "{{ item.address_prefixes_subnet }}"
      loop: "{{ environments }}"

    - name: Create public IP
      azure.azcollection.azure_rm_publicipaddress:
        resource_group: "{{ item.Resource_group_name }}"
        location: "{{ item.Location }}"
        name: "{{ item.Ip_name }}"
        allocation_method: Static
        sku: Standard
      loop: "{{ environments }}"

    - name: Create NIC
      azure.azcollection.azure_rm_networkinterface:
        resource_group: "{{ item.Resource_group_name }}"
        name: "{{ item.NIC_name }}"
        location: "{{ item.Location }}"
        virtual_network: "{{ item.vnet_name }}"
        subnet: "{{ item.subnet }}"
        ip_configurations:
          - name: ipconfig1
            public_ip_address_name: "{{ item.Ip_name }}"
      loop: "{{ environments }}"

    - name: Create SSH key (once)
      ansible.builtin.openssh_keypair:
        path: ~/.ssh/azure_vm_key
        type: rsa
        size: 4096
      register: ssh_key_result
      run_once: true

    - name: Create VM
      azure.azcollection.azure_rm_virtualmachine:
        resource_group: "{{ item.Resource_group_name }}"
        location: "{{ item.Location }}"
        name: "{{ item.vm_name }}"
        vm_size: "{{ item.vm_size }}"
        admin_username: "{{ item.admin_username }}"
        ssh_password_enabled: false
        ssh_public_keys:
          - path: /home/{{ item.admin_username }}/.ssh/authorized_keys
            key_data: "{{ ssh_key_result.public_key }}"
        network_interface_names:
          - "{{ item.NIC_name }}"
        image:
          publisher: Canonical
          offer: 0001-com-ubuntu-server-jammy
          sku: 22_04-lts-gen2
          version: latest
        managed_disk_type: Standard_LRS
      loop: "{{ environments }}"

    - name: Create storage account
      azure_rm_storageaccount:
        resource_group: "{{ item.Resource_group_name }}"
        name: "{{ item.storage }}"
        type: Standard_LRS
      loop: "{{ environments }}"
