#
- name : Infrastructure vm_creation
  block:

    - name: Create Resource Group
      azure.azcollection.azure_rm_resourcegroup:
        name : "{{Resource_group_name}}"
        location : "{{Location}}"
      environment:
        AZURE_CLIENT_ID: "{{ lookup('env', 'AZURE_CLIENT_ID') }}"
        AZURE_SECRET: "{{ lookup('env', 'AZURE_SECRET') }}"
        AZURE_TENANT: "{{ lookup('env', 'AZURE_TENANT') }}"
        AZURE_SUBSCRIPTION_ID: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}"

        
    - name : Create virtual network
      azure.azcollection.azure_rm_virtualnetwork : 
        resource_group: "{{Resource_group_name}}"
        name: "{{vnet_name}}"
        address_prefixes: "{{address_prefixes_vnet}}"
      environment:
        AZURE_CLIENT_ID: "{{ lookup('env', 'AZURE_CLIENT_ID') }}"
        AZURE_SECRET: "{{ lookup('env', 'AZURE_SECRET') }}"
        AZURE_TENANT: "{{ lookup('env', 'AZURE_TENANT') }}"
        AZURE_SUBSCRIPTION_ID: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}"

    - name : Add subnet
      azure.azcollection.azure_rm_subnet:
       resource_group: "{{Resource_group_name}}"
       name : "{{subnet}}"
       address_prefixes: "{{address_prefixes_subnet}}"
       virtual_network: "{{vnet_name}}"
      environment:
        AZURE_CLIENT_ID: "{{ lookup('env', 'AZURE_CLIENT_ID') }}"
        AZURE_SECRET: "{{ lookup('env', 'AZURE_SECRET') }}"
        AZURE_TENANT: "{{ lookup('env', 'AZURE_TENANT') }}"
        AZURE_SUBSCRIPTION_ID: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}"


    - name: Create public IP
      azure.azcollection.azure_rm_publicipaddress:
        resource_group: "{{ Resource_group_name }}"
        location: "{{ Location }}"
        name: "{{Ip_name}}"
        allocation_method: Static
        sku: Standard
      environment:
        AZURE_CLIENT_ID: "{{ lookup('env', 'AZURE_CLIENT_ID') }}"
        AZURE_SECRET: "{{ lookup('env', 'AZURE_SECRET') }}"
        AZURE_TENANT: "{{ lookup('env', 'AZURE_TENANT') }}"
        AZURE_SUBSCRIPTION_ID: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}"

    - name: Create NIC
      azure.azcollection.azure_rm_networkinterface:
        resource_group: "{{ Resource_group_name }}"
        name: "{{NIC_name}}"
        location : "{{Location}}"
        virtual_network: "{{vnet_name}}"
        subnet: "{{subnet}}"
        ip_configurations:
          - name: ipconfig1
            public_ip_address_name: "{{Ip_name}}"
      environment:
        AZURE_CLIENT_ID: "{{ lookup('env', 'AZURE_CLIENT_ID') }}"
        AZURE_SECRET: "{{ lookup('env', 'AZURE_SECRET') }}"
        AZURE_TENANT: "{{ lookup('env', 'AZURE_TENANT') }}"
        AZURE_SUBSCRIPTION_ID: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}"           

    - name: Create an SSH key pair
      ansible.builtin.openssh_keypair:
        path: ~/.ssh/azure_vm_key  
        type: rsa                  
        size: 4096                 
      register: ssh_key_result

    - name: Create vm
      azure.azcollection.azure_rm_virtualmachine:
        resource_group: "{{ Resource_group_name }}"
        location: "{{ Location }}"
        name: "{{ vm_name }}"
        vm_size: "{{ vm_size }}"
        admin_username: "{{ admin_username }}"
        ssh_password_enabled: false
        ssh_public_keys:
          - path: /home/{{ admin_username }}/.ssh/authorized_keys
            key_data: "{{ ssh_key_result.public_key | string}}"
        network_interface_names:
          - "{{ NIC_name }}"
        image:
          publisher: Canonical
          offer: 0001-com-ubuntu-server-jammy
          sku: 22_04-lts-gen2
          version: latest
        vm_identity:
          type: SystemAssigned
        managed_disk_type: Standard_LRS
      environment:
        AZURE_CLIENT_ID: "{{ lookup('env', 'AZURE_CLIENT_ID') }}"
        AZURE_SECRET: "{{ lookup('env', 'AZURE_SECRET') }}"
        AZURE_TENANT: "{{ lookup('env', 'AZURE_TENANT') }}"
        AZURE_SUBSCRIPTION_ID: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}"


    - name: Create storage account
      azure_rm_storageaccount:
        resource_group: "{{Resource_group_name}}"
        name: "{{storage}}"
        type: Standard_LRS
      environment:
        AZURE_CLIENT_ID: "{{ lookup('env', 'AZURE_CLIENT_ID') }}"
        AZURE_SECRET: "{{ lookup('env', 'AZURE_SECRET') }}"
        AZURE_TENANT: "{{ lookup('env', 'AZURE_TENANT') }}"
        AZURE_SUBSCRIPTION_ID: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}" 

   

  rescue: 
    - name : Create vm
      fail :
        msg : "Failed to create Infrastructure"

  

    

