- name: Infrastructure vm_creation
  block:

    # - name: Create Resource Group
    #   azure.azcollection.azure_rm_resourcegroup:
    #     name: "{{ item.Resource_group_name }}"
    #     location: "{{ item.Location }}"
    #   loop: "{{ environments }}"

    - name: Create resource groups
      azure.azcollection.azure_rm_resourcegroup:
        name: "{{ rg_base_name }}{{ item }}"
        location: "{{ location }}"
      loop: "{{ range(1, rg_count + 1) | list }}"

    - name: Create virtual networks
      azure.azcollection.azure_rm_virtualnetwork:
        resource_group: "{{ rg_base_name }}{{ item}}"
        name: "{{ vnet_name }}"
        address_prefixes: "{{ address_prefixes_vnet }}"
      loop: "{{ range(1, rg_count + 1) | list }}"

    - name: Add subnets
      azure.azcollection.azure_rm_subnet:
        resource_group: "{{ rg_base_name }}{{ item }}"
        virtual_network: "{{ item.vnet_name }}"
        name: "{{ subnet }}"
        address_prefixes: "{{ address_prefixes_subnet }}"
      loop: "{{ range(1, rg_count + 1) | list }}"

    - name: Create public IPs
      azure.azcollection.azure_rm_publicipaddress:
        resource_group: "{{ rg_base_name }}{{ item }}"
        location: "{{ location }}"
        name: "{{ item.Ip_name }}"
        allocation_method: Static
        sku: Standard
      loop: "{{ range(1, rg_count + 1) | list }}"

    - name: Create NICs
      azure.azcollection.azure_rm_networkinterface:
        resource_group: "{{ rg_base_name }}{{ item }}"
        name: "{{ item.NIC_name }}"
        location: "{{ location }}"
        virtual_network: "{{ vnet_name }}"
        subnet: "{{ subnet }}"
        ip_configurations:
          - name: ipconfig1
            public_ip_address_name: "{{ item.Ip_name }}"
      loop: "{{ range(1, rg_count + 1) | list }}"

    - name: Create SSH key pair per environment
      ansible.builtin.openssh_keypair:
        path: "~/.ssh/azure_vm_key_{{ rg_base_name }}{{ item }}"
        type: rsa
        size: 4096
      loop: "{{ range(1, rg_count + 1) | list }}"
      loop_control:
        label: "{{ rg_base_name }}{{ item }}"
      register: ssh_keys

    - name: Create VMs
      azure.azcollection.azure_rm_virtualmachine:
        resource_group: "{{ rg_base_name }}{{ item }}"
        location: "{{ location }}"
        name: "{{ item.vm_name }}"
        vm_size: "{{ item.vm_size }}"
        admin_username: "{{ item.admin_username }}"
        ssh_password_enabled: false
        ssh_public_keys:
          - path: /home/{{ item.admin_username }}/.ssh/authorized_keys
            key_data: "{{ item.ssh_public_key }}"
        network_interface_names:
          - "{{ item.NIC_name }}"
        image:
          publisher: Canonical
          offer: 0001-com-ubuntu-server-jammy
          sku: 22_04-lts-gen2
          version: latest
        vm_identity:
          type: SystemAssigned
        managed_disk_type: Standard_LRS
      loop: "{{ environments }}"
      loop_control:
        label: "{{ item.Resource_group_name }} / {{ item.vm_name }}"

    - name: Create storage accounts
      azure_rm_storageaccount:
        resource_group: "{{ rg_base_name }}{{ item }}"
        name: "{{ item.storage }}"
        type: Standard_LRS
      loop: "{{ range(1, rg_count + 1) | list }}"
      loop_control:
        label: "{{ rg_base_name }}{{ item }} / {{ item.storage }}"

    - name: Fetch resource group info
      azure.azcollection.azure_rm_resourcegroup_info:
        name: "{{ rg_base_name }}{{ item }}"
      loop: "{{ range(1, rg_count + 1) | list }}"
      register: rg_infos
      loop_control:
        label: "{{ rg_base_name }}{{ item }}"
      tags: fetch_rg

    - name: Set RG names variable
      set_fact:
        my_rg_names: >-
          {{
            rg_infos.results
            | map(attribute='resourcegroups')
            | flatten
            | map(attribute='name')
            | list
          }}
      tags: fetch_rg

    - name: Write all RG names to file for pipeline
      copy:
        content: "{{ my_rg_names | join('\n') }}"
        dest: /tmp/resource_group_names.txt
      tags: fetch_rg

  environment:
    AZURE_CLIENT_ID: "{{ lookup('env', 'AZURE_CLIENT_ID') }}"
    AZURE_SECRET: "{{ lookup('env', 'AZURE_SECRET') }}"
    AZURE_TENANT: "{{ lookup('env', 'AZURE_TENANT') }}"
    AZURE_SUBSCRIPTION_ID: "{{ lookup('env', 'AZURE_SUBSCRIPTION_ID') }}"

