name : Sandbox environment automation

on :
  push: 
    branches: 
      - main

  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  provision_sandbox:
    name: Provision Sandbox
    runs-on: ubuntu-latest

    env:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
      AZURE_TENANT: ${{ secrets.AZURE_TENANT }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps : 

      - name : Checkout code
        uses : actions/checkout@v3

      - name :  set up python
        uses : actions/setup-python@v4
        with : 
         python-version: '3.10'

      - name: Install Azure Ansible Collection
        run: |
          ansible-galaxy collection install azure.azcollection --force


      - name: Install Azure SDK dependencies for Ansible
        run: |
            pip install azure-mgmt-monitor azure-mgmt-resource azure-identity
            pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt


      # - name: Run Ansible Playbook
      #   run: |
      #     ansible-playbook main.yml \
      #         -e "ansible_python_interpreter=/opt/hostedtoolcache/Python/3.10.19/x64/bin/python" 

      - name: Run Ansible Playbook in Drift Detection Mode
        id: drift
        run: |
          set -e
          # Run in check mode and save output
          ansible-playbook main.yml \
            -e "ansible_python_interpreter=/opt/hostedtoolcache/Python/3.10.19/x64/bin/python" \
            --check --diff > drift.log || true

          # Check if drift.log contains changes
          if grep -q 'changed=' drift.log; then
            echo "DRIFT_DETECTED=true" >> $GITHUB_ENV
          else
            echo "DRIFT_DETECTED=false" >> $GITHUB_ENV
          fi
          

      # - name: Run Ansible Playbook
      #   env:
      #     PYTHON_INTERPRETER: /opt/hostedtoolcache/Python/3.10.19/x64/bin/python
      #   run: |
      #     ansible-playbook main.yml -e "ansible_python_interpreter=$PYTHON_INTERPRETER" --check --diff


      # - name: Notify Slack
      #   run: |
      #     curl -X POST -H 'Content-type: application/json' \
      #     --data '{"text":"**********Welcome TO MSDN SUBSCRIPTION **************\n**********Resource group (M-Testing_Environment)**************\n**********Thank You**************"}' \
      #     "${{ secrets.SLACK_WEBHOOK_URL }}"

      - name: Notify Slack
        run: |
          if [ "${DRIFT_DETECTED}" = "true" ]; then
            curl -X POST -H 'Content-type: application/json' \
              --data '{"text":" Drift detected in sandbox environment. Check the drift report artifact for details."}' \
              "${{ secrets.SLACK_WEBHOOK_URL }}"
          else
            curl -X POST -H 'Content-type: application/json' \
              --data '{"text":"Sandbox environment is compliant. No drift detected."}' \
              "${{ secrets.SLACK_WEBHOOK_URL }}"
          fi

      
