name : Sandbox environment automation

on :
  push: 
    branches: 
      - main

  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  provision_sandbox:
    name: Provision Sandbox Install python, Install Azure Ansible Collection, Install Azure SDK for Ansible, Run Playbook.
    runs-on: ubuntu-latest

    env:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
      AZURE_TENANT: ${{ secrets.AZURE_TENANT }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps : 

      - name : Checkout code
        uses : actions/checkout@v3

      - name :  set up python
        uses : actions/setup-python@v4
        with : 
         python-version: '3.10'

      - name: Install Azure Ansible Collection
        run: |
          ansible-galaxy collection install azure.azcollection --force


      - name: Install Azure SDK dependencies for Ansible
        run: |          
            pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt
# pip install azure-mgmt-monitor azure-mgmt-resource azure-identity

      - name: Run Ansible Playbook
        run: |
          ansible-playbook main.yml \
              -e "ansible_python_interpreter=/opt/hostedtoolcache/Python/3.10.19/x64/bin/python" 

      - name: Run Ansible Playbook in Drift Detection Mode
        id: drift
        run: |
          set -e
          # Run in check mode and save output
          ansible-playbook main.yml \
            -e "ansible_python_interpreter=/opt/hostedtoolcache/Python/3.10.19/x64/bin/python" \
            --check --diff > drift.log || true

          # Check if drift.log contains changes
          if grep -q 'changed=' drift.log; then
            echo "DRIFT_DETECTED=true" >> $GITHUB_ENV
          else
            echo "DRIFT_DETECTED=false" >> $GITHUB_ENV
          fi
          

      - name: Notify Slack
        run: |
          if [ "${DRIFT_DETECTED}" = "true" ]; then
            curl -X POST -H 'Content-type: application/json' \
              --data '{"text":" Drift detected while sandbox creation. Please check Run ANsible Playbook step in pipeline run"}' \
              "${{ secrets.SLACK_WEBHOOK_URL }}"
          else
            curl -X POST -H 'Content-type: application/json' \
              --data '{"text":"Sandbox environment is created. No drift detected."}' \
              "${{ secrets.SLACK_WEBHOOK_URL }}"
          fi

    #  Prometheus setup
      - name: Download Prometheus tarball
        run: |
          curl -L "https://github.com/prometheus/prometheus/releases/download/v2.34.0/prometheus-2.34.0.linux-amd64.tar.gz" \
          -o /tmp/prometheus.tar.gz

      - name: Extract Prometheus
        run: |
          tar -xzvf /tmp/prometheus.tar.gz -C /opt/

      - name: List contents of /opt to verify extraction path
        run: |
          echo "Listing contents of /opt/"
          ls -l /opt/

      - name: Create Prometheus user and group
        run: |
          # Check if the 'prometheus' group exists; if not, create it
          if ! getent group prometheus > /dev/null 2>&1; then
            sudo groupadd prometheus
          fi

          # Check if the 'prometheus' user exists; if not, create it and add to the 'prometheus' group
          if ! id -u prometheus > /dev/null 2>&1; then
            sudo useradd --no-create-home --shell /bin/false -g prometheus prometheus
          fi
        shell: /usr/bin/bash -e {0}
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
          AZURE_TENANT: ${{ secrets.AZURE_TENANT }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          pythonLocation: /opt/hostedtoolcache/Python/3.10.19/x64
          PKG_CONFIG_PATH: /opt/hostedtoolcache/Python/3.10.19/x64/lib/pkgconfig
          Python_ROOT_DIR: /opt/hostedtoolcache/Python/3.10.19/x64
          Python2_ROOT_DIR: /opt/hostedtoolcache/Python/3.10.19/x64
          Python3_ROOT_DIR: /opt/hostedtoolcache/Python/3.10.19/x64
          LD_LIBRARY_PATH: /opt/hostedtoolcache/Python/3.10.19/x64/lib
          DRIFT_DETECTED: true


      - name: Set permissions for Prometheus directory
        run: |
          # Adjust to the actual extracted directory path
          if [ -d "/opt/prometheus-2.34.0.linux-amd64" ]; then
            sudo chown -R prometheus:prometheus /opt/prometheus-2.34.0.linux-amd64
            sudo chmod -R 755 /opt/prometheus-2.34.0.linux-amd64
          else
            echo "Prometheus directory does not exist. Skipping permissions step."
            exit 1
          fi
        shell: /usr/bin/bash -e {0}
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
          AZURE_TENANT: ${{ secrets.AZURE_TENANT }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          pythonLocation: /opt/hostedtoolcache/Python/3.10.19/x64
          PKG_CONFIG_PATH: /opt/hostedtoolcache/Python/3.10.19/x64/lib/pkgconfig
          Python_ROOT_DIR: /opt/hostedtoolcache/Python/3.10.19/x64
          Python2_ROOT_DIR: /opt/hostedtoolcache/Python/3.10.19/x64
          Python3_ROOT_DIR: /opt/hostedtoolcache/Python/3.10.19/x64
          LD_LIBRARY_PATH: /opt/hostedtoolcache/Python/3.10.19/x64/lib
          DRIFT_DETECTED: true

      - name: Start Prometheus as a service
        run: |
          sudo tee /etc/systemd/system/prometheus.service > /dev/null <<EOF
          [Unit]
          Description=Prometheus
          Documentation=https://prometheus.io/docs/introduction/overview/
          After=network.target

          [Service]
          User=prometheus
          Group=prometheus
          ExecStart=/opt/prometheus/prometheus --config.file=/opt/prometheus/prometheus.yml

          [Install]
          WantedBy=multi-user.target
          EOF

          sudo systemctl daemon-reload
          sudo systemctl start prometheus
          sudo systemctl enable prometheus

      # - name: Verify Prometheus Service is Running
      #   run: |
      #     sudo systemctl status prometheus



        