name : Sandbox environment automation

on :
  push: 
    branches: 
      - main

  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  provision_sandbox:
    name: Provision Sandbox
    runs-on: ubuntu-latest

    env:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
      AZURE_TENANT: ${{ secrets.AZURE_TENANT }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      # SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps : 

      - name : Checkout code
        uses : actions/checkout@v3

      - name :  set up python
        uses : actions/setup-python@v4
        with : 
         python-version: '3.10'

      - name: Install Azure Ansible Collection
        run: |
          ansible-galaxy collection install azure.azcollection --force


      - name: Install Azure SDK dependencies for Ansible
        run: |
              python -m pip install --upgrade pip
              python -m pip install azure-mgmt-managementgroups==1.0.0
              pip install azure-mgmt-storage
              pip install azure-mgmt-compute
              pip install azure-mgmt-dns
              pip install azure-mgmt-web
              pip install azure-mgmt-monitor
              pip install azure-mgmt-privatedns
              pip install azure-mgmt-network==19.0.0
              pip install azure-mgmt-resource==20.0.0
              pip install azure-identity==1.12.0
              pip install ansible[azure]
              pip install azure-mgmt-privatedns
              pip install azure-mgmt-containerservice
              pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt


      - name: Run Ansible Playbook
        run: |
          ansible-playbook main.yml"









      

      
