name : Sandbox environment automation

on :
  push: 
    branches: 
      - main

  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  provision_sandbox:
    name: Provision Sandbox
    runs-on: ubuntu-latest

    env:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
      AZURE_TENANT: ${{ secrets.AZURE_TENANT }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      # SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps : 

      - name : Checkout code
        uses : actions/checkout@v3

      - name :  set up python
        uses : actions/setup-python@v4
        with : 
         python-version: '3.10'

      - name: Install Ansible and Azure SDK
        run: |
          python -m pip install --upgrade pip
          pip install ansible
          pip install azure-cli
          pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt


      # - name: Install Ansible
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install ansible ansible[azure] requests

      # - name: Install Azure Ansible Collection
      #   # run: |
      #   #   ansible-galaxy collection install azure.azcollection
      #   run: ansible-galaxy collection install -r Collection/requirements.yml -p Collections
    

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
              "clientSecret": "${{ secrets.AZURE_SECRET }}",
              "tenantId": "${{ secrets.AZURE_TENANT }}",
              "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: Debug Python used by Ansible
        run: |
          which python
          python --version
          ansible --version


      - name: Run Ansible Playbook
        run: |
          ansible-playbook main.yml -i Inventories/azure_rm.yml

      
