name: Sandbox environment automation

on:
  push: 
    branches: 
            - multiple_vm  
  pull_request:
    branches: 
      - main
    types: [opened, synchronize, reopened]

jobs:
  provision_sandbox:
    name: Provision Sandbox
    runs-on: ubuntu-latest

    env:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
      AZURE_TENANT: ${{ secrets.AZURE_TENANT }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps: 
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with: 
          python-version: '3.10'

      - name: Install Azure Ansible Collection
        run: |
          ansible-galaxy collection install azure.azcollection --force

      - name: Install Azure SDK dependencies for Ansible
        run: |
          pip install azure-mgmt-monitor azure-mgmt-resource azure-identity
          pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt

      - name: Run Ansible Playbook
        run: |
          ansible-playbook main.yml \
            -e "ansible_python_interpreter=/opt/hostedtoolcache/Python/3.10.19/x64/bin/python" \
            -e "number_of_sandboxes=3 base_rg_name=sandbox-rg"


      - name: Set all resource groups as environment variables
        run: |
          i=1
          while read rg; do
            echo "RESOURCE_GROUP_$i=$rg" >> $GITHUB_ENV
            i=$((i+1))
          done < /tmp/resource_group_names.txt
        shell: bash

      - name: Display Resource Group Names
        run: |
          i=1
          while true; do
            VAR_NAME="RESOURCE_GROUP_$i"
            RG_VALUE="${!VAR_NAME}"
            if [ -z "$RG_VALUE" ]; then
              break
            fi
            echo "RG $i: $RG_VALUE"
            i=$((i + 1))
          done
        shell: bash


      - name: Run Ansible Playbook in Drift Detection Mode
        id: drift
        run: |
          set -e
          ansible-playbook main.yml \
            -e "ansible_python_interpreter=/opt/hostedtoolcache/Python/3.10.19/x64/bin/python" \
            --check --diff > drift.log || true

          if grep -q 'changed=' drift.log; then
            echo "DRIFT_DETECTED=true" >> $GITHUB_ENV
          else
            echo "DRIFT_DETECTED=false" >> $GITHUB_ENV
          fi

      - name: Notify Slack
        run: |
          if [ "${DRIFT_DETECTED}" = "true" ]; then
            curl -X POST -H 'Content-type: application/json' \
              --data '{"text":"Drift detected while sandbox creation for Resource Group: '"${RESOURCE_GROUP}"'. Please check the pipeline run."}' \
              "${{ secrets.SLACK_WEBHOOK_URL }}"
          else
            curl -X POST -H 'Content-type: application/json' \
              --data '{"text":"Sandbox environment for Resource Group: '"${RESOURCE_GROUP}"' is created. No drift detected."}' \
              "${{ secrets.SLACK_WEBHOOK_URL }}"
          fi
